/* tables */
table.tablesorter {
	font-family:'Roboto', 'Arial', san-serif;
	background-color: #eee;
	margin:10px 0pt 15px;
	font-size: 12pt;
	font-weight: 100;
	width: 100%;
	text-align: left;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #b3e0ff;
	color: #003d66;	
	font-size: 14pt;
	font-weight: 700;
	padding: 10px;	
}
table.tablesorter thead tr .header {
	background-image: url(up_down_arrow.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #000000;
	padding: 5px;
	background-color: #FFF;
	vertical-align: middle;
	font-weight:bolder;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(up_arrow.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(down_arrow.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #fcfce5;
color: #003d66;
}
