<div class="modal fade" id="about">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Nordron-Sciinfo</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="Howtouse">About Nordron-Sciinfo</label>
          <p>
            The Nordling Search is a free scholarly literature from Scientific Information Retrieval and Processing created during the
            Scientific Information Gathering and Processing for Engineering Research given by Prof. Nordling at the National
            Cheng Kung University.
            <p>
        </div>
        <div class="form-group">
          <label for="Howtouse">How to use</label>
          <p>
            Type or Paste something in the search box to get the articles what you want, for example a paragraph of an article, then
            you can see how similar it is compared with other articles in this database.
          </p>
        </div>
        <div class="form-group">
          <label for="copyright">License</label>
          <p>
            This code is Open Source under the Apache 2.0 license.
          </p>
        </div>
        <div class="form-group">
          <label for="contributor">Contributors</label>
          <p>
            Alan Yu, Alexander Heimann, Annas Fauzy, Ben Hsu, Bernie Huang, Cathy Huang, Chang, Chinweze Ubadigha, Cindy Hsu, Dexter
            Chen, Dickson Lee, Eric Chang, Eric Lee, Eric Tu, Feng-Chun Hsia, Firhan Huzaefa, Henry Peng, Hoang Tan, I-Chieh
            Lin, Jacky Wu, Jim Lan, Jones Hou, Jose Chang, Justin Lin, Karthick Mani, Kenny Hsu, Kenvin Lo, Kevin Liao, Lewis
            Hsu, Michael Huang, Nick Chen, Oliver Lai, Paul Lin, Paul Tsai, Piyarul Hoque, Rahul Aditya, Rain Wu, Ralph Nasara,
            Ray, Ray Chen, Sareddy Reddy, Sunny Tseng, Tam-Van Ngo, Tan Phat, Tria Puspa Sari, Wei, Yu-cheng Chen, Torbjörn
            E. M. Nordling
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>