<div class="modal fade" id="Contact">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Nordron-Sciinfo</h4>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="Address">
            <span class="glyphicon glyphicon-star-empty"></span>Address</label>
          <p>
            Nordling Lab at the Department of Mechanical Engineering, National Cheng Kung University, No. 1 University Road, Tainan 70101,
            Taiwan
          </p>
        </div>
        <div class="form-group">
          <label for="Howtocontactus">
            <span class="glyphicon glyphicon-star-empty"></span>Feedback</label>
          <p>
            "Missing a function? Something not working? Tell us and help us to improve by click the button below." Feel free to contact
            me with 'click' Feedback button and send the email.
          </p>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button">
          <a title="To send feedback" target="_blank" href="https://bitbucket.org/nordron/nordron-sciinfo/issues/new">Send Feedback</a>
        </button>
        &nbsp;&nbsp;&nbsp;
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">OK</button>
      </div>
    </div>
  </div>
</div>