<div class="modal fade" id="Feedback">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Nordron-Sciinfo</h4>
            </div>

            <div class="modal-body">
                <div class="form-group">
                    <label for="Howtogivefeedback">
                        <h2>To share feedback, ideas or report a bug</h2>
                    </label>
                    <p>
                        Missing a function? Something not working? Tell us and help us to improve.
                    </p>
                </div>
            </div>

            <!-- Start Form -->
            <div class="row">
                <div class="col-md-6 col-md-offset-3" id="form_container">

                    <form role="form" method="post" id="reused_form">

                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <label for="message">
                                    Message:</label>
                                <textarea class="form-control" type="textarea" name="message" id="message" maxlength="6000" rows="7" required></textarea>
                            </div>
                        </div>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">New idea</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Improvement</label>
                        <label class="checkbox-inline">
                            <input type="checkbox" value="">Bug</label>
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label for="name">
                                    Your Name:</label>
                                <input type="text" class="form-control" id="name" name="name" required>
                            </div>
                            <div class="col-sm-6 form-group">
                                <label for="email">
                                    Email:</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12 form-group">
                                <button type="submit" class="btn btn-lg btn-default pull-right">Send →</button>
                            </div>
                        </div>

                    </form>
                    <div id="success_message" style="width:100%; height:100%; display:none; ">
                        <h3>Posted your message successfully!</h3>
                    </div>
                    <div id="error_message" style="width:100%; height:100%; display:none; ">
                        <h3>Error</h3>
                        Sorry there was an error sending your form.
                    </div>
                </div>
            </div>
            <!-- End - Form -->

            <!-- Form submission handling -->
            <script>
                $(function () {
                    function after_form_submitted(data) {
                        if (data.result == 'success') {
                            $('form#reused_form').hide();
                            $('#success_message').show();
                            $('#error_message').hide();
                        }
                        else {
                            $('#error_message').append('<ul></ul>');

                            jQuery.each(data.errors, function (key, val) {
                                $('#error_message ul').append('<li>' + key + ':' + val + '</li>');
                            });
                            $('#success_message').hide();
                            $('#error_message').show();

                            //reverse the response on the button
                            $('button[type="button"]', $form).each(function () {
                                $btn = $(this);
                                label = $btn.prop('orig_label');
                                if (label) {
                                    $btn.prop('type', 'submit');
                                    $btn.text(label);
                                    $btn.prop('orig_label', '');
                                }
                            });

                        }//else
                    }

                    $('#reused_form').submit(function (e) {
                        e.preventDefault();

                        $form = $(this);
                        //show some response on the button
                        $('button[type="submit"]', $form).each(function () {
                            $btn = $(this);
                            $btn.prop('type', 'button');
                            $btn.prop('orig_label', $btn.text());
                            $btn.text('Sending ...');
                        });


                        $.ajax({
                            type: "POST",
                            url: '/feedback/'//'handler.php',
                            data: $form.serialize(),
                            success: after_form_submitted,
                            dataType: 'json'
                        });

                    });
                });
            </script>
            <!-- End of form submission handling -->

        </div>
    </div>
</div>