<!DOCTYPE html>

<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />
<link href="{% static 'css/query-box.css' %}" rel="stylesheet" />
<link href="{% static 'css/keyword-paragraph.css' %}" rel="stylesheet" />
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
<link href="{% static 'css/customInterface.css' %}" rel="stylesheet" />
<link href="{% static 'css/topbutton.css' %}" rel="stylesheet" media="all" />

<!-- Button Style-->


<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Result page</title>
</head>
<!-- Favicon -->
<link rel="icon" href="{% static '/favicons/favicon.png' %}">
<!-- <link rel="icon" href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTLqDljAdoHj-z-UdC1iIt06eTUVZWoUFBCt4PA_VPfnln0VlRf3w"> -->

<!-- Main Body -->

<body style="background-color:#f2f2f2;">
  <!-- Start Facebook -->
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook -->
  <!-- Navigation bar -->
  <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #000033">
    <header>
      <img src="https://www.nordlinglab.org/wp-content/uploads/2018/03/cropped-TNL_FL_Tofficial-150x150.png" align=left width="=50"
        height="50">
    </header>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!--Nav-bar Nordron-Sciinfo (to bitbucket) -->
        <a title="Go to Nordron-Sciinfo bitbucket" class="navbar-brand" href="https://bitbucket.org/nordron/nordron-sciinfo">Nordron-Sciinfo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <!-- Nav-bar Home -->
            <a title="Go to the Homepage" href="/">
              <span class="glyphicon glyphicon-home"></span> Home</a>
            <!--Nav-bar About-->
            <li>
              <a title="About Nordling-Sciinfo" href="#about" data-toggle="modal" data-target="#about">
                <span class="glyphicon glyphicon-exclamation-sign"></span>About
              </a>
            </li>
            <!--Nav-bar Contact -->
            <li>
              <a title="How to contact us" href="#Contact" data-toggle="modal" data-target="#Contact">
                <span class="glyphicon glyphicon-envelope"></span> Contact</a>
            </li>
            <!-- Upload Files -->
            <li>
              <a title="Upload Articles" href='/Upload/'>
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
            </li>
          </li>
        </ul>
        <!-- Social Media -->
        <!-- Facebook -->
        <div class="nav navbar-nav navbar-right">
          <div style="position: relative; top: 15px">
            <div class="fb-like" data-href="http://django.nordlinglab.org/" data-layout="button" data-action="like" data-size="small"
              data-show-faces="true" data-share="true" style="position: relative; bottom: 5px"></div>
            <!-- Twittter Sharig button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- Google sharing button -->
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <div clear: right; class="g-plus" data-action="share"></div>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!--Button that goes to top of page -->
  <button onclick="topFunction()" id="Btn" class="topBtn" title="Go to top">Top</button>
  <div class="container">
    <div class="searchbox">
      <p class="lead" style="text-align:left;position: relative; left: 80px"> Your search string is:</p>
      <br>
      <form>
        <!--<textarea id="q" rows="5" class="form-control" name="q">{{ uq }}</textarea>-->
        <div id="input-query" content="{{ uq }}">
          <script type="text/javascript">
            //Trigger search button when enter pressed
            $(function () {
              $("#input-query").keypress(function (e) {
                if (e.which == 13) {
                  document.getElementById("searchBtn").click();
                  e.preventDefault();
                  return false;
                }
              });
            });
          </script>
        </div>
        <div style="position: relative;left:380px">
          <button title="Show the chart" id="showchart" class="dblue dblueh" onclick="show()" style="display: inline">Show</button>
          <button title="Go to search again" id="searchBtn" type="submit" class="dblue dblueh" style="display: inline">Search</button>
        </div>
      </form>
      <div class="similar-words-container">
        {% for sys in synonym %} {% for i in sys %}
        <span style="padding: 10px" class="word">{{ i }}</span>
        {% endfor %} {% endfor %}
      </div>

      <br>
      <!-- sort by year published check box -->
      <div style="position: relative; left: 400px">
        <input id="check" type="checkbox" value="1" style="padding: 2em" name="check">Sorted by year published
      </div>
      <br>
      <hr>
      <hr>
      <h4>The results are listed below:</h4>
      <p> {{ total }} articles have been found </p>
      <!-- Render similarity figure here -->
      <div id="chart-1" class="col-md-6" style="display: none;">{{fig|safe}}</div>
      <br>
      <div class="row">
        <div class="col-md-8">
          {% for i in resultlist %}
          <div class="article">
            <li style="border: 2px solid black"> {{ i }} &nbsp;&nbsp;&nbsp;&nbsp;
              <!-- Create text and button here. forloop.counter will count the times of loop. The first loop, forloop.counter = 0 , second loop , forloop.counter = 1. -->
              <hr>
              <!-- Hide this on for the popup window function 
                <div id="show_text{{forloop.counter0}}" align="left"></div> -->
              <button id="btn{{forloop.counter0}}" class="dblue dblueh" data-toggle="modal" data-target="#myModal">Abstract</button>
              <div>
                <div class="keyword-paragraph">
                  <div class="article-keywords">


                    {% for k in articleData%}
                    <span class="keyword" onclick="clickKeyword({{forloop.counter0}},{{forloop.parentloop.counter0}})"> {{k.keyword}}</span>

                    {% endfor %}
                  </div>
                  {% for k in articleData %}
                  <div class="paragraph">
                    <span> k.sentences </span>
                  </div>
                  {% endfor %}
                </div>
              </div>
            </li>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div id="article-detail" content="">
  </div>
  <!--Model for abstract -->
  <div class="modal custom fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Abstract</h4>
        </div>
        <div class="modal-body" id="show_text_model"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p>This code is Open Source under the Apache 2.0 license </p>
  </div>

  {% autoescape off %}
  <script>
    const articlesContent = "{{wordcloud_data}}"
    console.log(articlesContent)
  </script> {% endautoescape %}
  <!-- /.container, contains user query and results -->
  {% include './About.html' %} {% include './Contact.html' %}
  <script src="{% static 'js/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/index.bundle.js' %}"></script>
  <script src="{% static 'js/world-cloud-page/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/world-cloud-page/index.bundle.js' %}"></script>
</body>
<script type="text/javascript">
  // When the user scrolls down 2px from the top of the document, show the button
  window.onscroll = function () { scrollFunction() };

  function scrollFunction() {
    if (document.body.scrollTop > 2 || document.documentElement.scrollTop > 2) {
      document.getElementById("Btn").style.display = "block";
    }
    else {
      document.getElementById("Btn").style.display = "none";
    }
  }

  // When the user clicks on the button, scroll to the top of the document
  function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
  }
</script>

<script type="text/javascript">
  var count = 1;
  function show() {
    if (count == 1) {
      chart1 = document.querySelector("#chart-1")
      chart1.style.display = "flex"
      count = 0;
    }
    else {
      chart1 = document.querySelector("#chart-1")
      chart1.style.display = "none"
      count = 1;
    }
  }

  function clickKeyword(i, j) {
    console.log('i :' + i + ' j: ' + j)
    const articles = document.querySelectorAll('.keyword-paragraph')
    console.log(articles[i].querySelectorAll('.paragraph')[j])
    const keywords = articles[i].querySelectorAll('.keyword')
    keywords.forEach(p => {
      p.style.backgroundColor = "rgb(210,210,210)"
      p.style.color = "black"
    })
    keywords[j].style.backgroundColor = "rgb(50,50,50)"
    keywords[j].style.color = "white"
    const paragraphes = articles[i].querySelectorAll('.paragraph')
    paragraphes.forEach(p => p.style.display = 'none')
    paragraphes[j].style.display = 'inline-flex'
  }
</script> {% for j in abstract %}
<script type="text/javascript">
  //first_click Contain information about the button (j) pressed first time or second time 
  /*Hide for popup window function
      var abstract_click = [];
      document.getElementById("btn{{forloop.counter0}}").onclick = function () {
          if (abstract_click[{{ forloop.counter }}]== 1) {
          // 'First click' for view the abstract
               abstract_click[{{ forloop.counter }}] = 2;
               document.getElementById("show_text{{forloop.counter0}}").innerHTML = " ";
          } 
          else {
          // 'Second click' for hide the abstract  
               document.getElementById("show_text{{forloop.counter0}}").innerHTML = "{{j}}";
               abstract_click[{{ forloop.counter }}] = 1;
          }                      
      }*/
  document.getElementById("btn{{forloop.counter0}}").onclick = function () {
    document.getElementById("show_text_model").innerHTML = "{{j}}";
  }	
</script> {% endfor %}

</html>