<!DOCTYPE html>
<html>
<!-- load css file-->
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />
<link href="{% static 'css/query-box.css' %}" rel="stylesheet" />
<link href="{% static 'css/customInterface.css' %}" rel="stylesheet" />
<link href="{% static 'css/table.css' %}" rel="stylesheet" />
<link href="{% static 'css/topbutton.css' %}" rel="stylesheet" media="all" />
<!-- load javascript-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.2/Chart.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'fusioncharts/fusioncharts.js' %}"></script>
<script type="text/javascript" src="{% static 'fusioncharts/themes/fusioncharts.theme.fint.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-latest.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.tablesorter.js' %}"></script>
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>

<!-- Tooltip style for FLesch Reading Ease Score -->
<style>
  .tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 100%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>

<head>
  <script type="text/javascript">
    $(document).ready(function () {
      $("#table").tablesorter();
    });
  </script>
  <!-- Table style for pop up of explaiination of Flesch Reading Ease Score -->
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Result page by year</title>
</head>
<!-- Favicon -->
<link rel="icon" href="{% static '/favicons/favicon.png' %}">
<!-- Main Body -->

<body style="background-color:#f2f2f2;">
  <!-- Start Facebook -->
  <div id="fb-root"></div>
  <script>(function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook -->
  <!-- Navigation bar -->
  <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #000033">
    <header>
      <!-- Nordlinglab logo -->
      <img src="https://www.nordlinglab.org/wp-content/uploads/2018/03/cropped-TNL_FL_Tofficial-150x150.png" align=left width="=50"
        height="50">
    </header>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!--Nav-bar Nordron-Sciinfo (to bitbucket) -->
        <a title="Go to Nordron-Sciinfo bitbucket" class="navbar-brand" href="https://bitbucket.org/nordron/nordron-sciinfo">Nordron-Sciinfo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <!-- Nav-bar Home -->
            <a title="Go to the Homepage" href="/">
              <span class="glyphicon glyphicon-home"></span> Home</a>
            <!--Nav-bar About-->
            <li>
              <a title="About Nordling-Sciinfo" href="#about" data-toggle="modal" data-target="#about">
                <span class="glyphicon glyphicon-exclamation-sign"></span>About
              </a>
            </li>
            <!--Nav-bar Contact -->
            <li>
              <a title="How to contact us" href="#Contact" data-toggle="modal" data-target="#Contact">
                <span class="glyphicon glyphicon-envelope"></span> Contact</a>
            </li>
            <!-- Upload Files -->
            <li>
              <a title="Upload articles" href='/Upload/'>
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
            </li>
          </li>
        </ul>
        <!-- Social Media -->
        <!-- Facebook -->
        <div class="nav navbar-nav navbar-right">
          <div style="position: relative; top: 15px">
            <div class="fb-like" data-href="http://django.nordlinglab.org/" data-layout="button" data-action="like" data-size="small"
              data-show-faces="true" data-share="true" style="position: relative; bottom: 5px"></div>
            <!-- Twittter Sharig button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- Google sharing button -->
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <div clear: right; class="g-plus" data-action="share"></div>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <!-- The Button that goes to top of page -->
  <button onclick="topFunction()" id="Btn" class="topBtn" title="Go to top">Top</button>
  <div class="container">
    <div class="searchbox">
      <p class="lead">Your search string is:
        <br>
        <form>
          <!--<textarea id="q" rows="5" class="form-control" name="q">{{ uq }}</textarea>-->
          <div id="input-query" content="{{ uq }}">
            <script type="text/javascript">
              //Trigger search button when enter pressed
              $(function () {
                $("#input-query").keypress(function (e) {
                  if (e.which == 13) {
                    document.getElementById("searchBtn").click();
                    e.preventDefault();
                    return false;
                  }
                });
              });
            </script>
          </div>
          <div class="similar-words-container">
            {% for sys in synonym %} {% for i in sys %}
            <span style="padding: 10px" class="word">{{ i }}</span>
            {% endfor %} {% endfor %}
          </div>
          <br>
          <!-- upload your article button -->
          <div class="container" style="position: relative; left: 400px">
            <script src="{% static 'js/zeroupload.js' %}"></script>
            <!--<button title="Upload your article to this website" type="button" class="dblue dblueh" id="mydrop" onClick="ZeroUpload.chooseFiles()" style = "display:inline">Drop files here! Or click to select! </button>-->
            <script>
              $(document).ready(function () {
                ZeroUpload.setURL('upload.php');
                ZeroUpload.on('complete', function (response) {
                  $('#results').html('<h2>Upload Complete!</h2><pre>' + response.data + '</pre>');
                });
                ZeroUpload.init();
                ZeroUpload.addDropTarget('#mydrop');
              });
            </script>
            <script>
              // When the user scrolls down 20px from the top of the document, show the button
              window.onscroll = function () { scrollFunction() };

              function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                  document.getElementById("Btn").style.display = "block";
                }
                else {
                  document.getElementById("Btn").style.display = "none";
                }
              }

              // When the user clicks on the button, scroll to the top of the document
              function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
              }
            </script>
            <!-- search button-->
            <button title="Go to search!" id="searchBtn" type="submit" class="dblue dblueh" style="display:inline">Search</button>
          </div>
          <br>
        </form>
        <br>
        <div style="position: relative; right: 380px">
          <button title="Show the chart" id="showchart" class="dblue dblueh" onclick="show()" style="display: inline">Show Chart</button>
          <input id="check" type="checkbox" value="1" name="check">Sorted by published year
        </div>
        <div style="position: relative; right: 460px">
          <button class="dblue dblueh" style="display: inline" id="cluster-function">Show Cluster</button>
        </div>
        <div class="row">
          <!-- Render similarity figure here -->
          <div id="chart-1" class="col-md-6" style="display: none;">{{ fig|safe }}</div>
        </div>
        <div class="col-md-6">
          <canvas id="year_Chart" width="300" height="300" style="display: none"></canvas>
          <script type="text/javascript">
            var data = {
              type: 'line',
              data: {
                labels: {{ xdata_year }},
            datasets: [{
              data: {{ ydata_year }},
              fill : false,
              lineTension: 0,
              borderColor: [
              'rgba(54, 162, 235, 1)',
            ],
        	      }]
		          },
            options: {
              legend: {
                display: false,
                  },
              title: {
                display: true,
                  text: 'Publication trend',
                    fontSize: 24,
                  },
              scales: {
                yAxes: [{
                  scaleLabel: {
                    display: true,
                    labelString: 'Number of publication',
                    fontStyle: 'oblique',
                    fontSize: 24,
                  }
                }],
                  xAxes: [{
                    scaleLabel: {
                      display: true,
                      labelString: 'Year',
                      fontStyle: 'oblique',
                      fontSize: 24,
                    }
                  }],
                  }
            }
	          };
            var ctx = new Chart(document.getElementById("year_Chart").getContext("2d"), data);
          </script>
        </div>
        <br>
        <p>The results are listed below:</p>
        <br>
        <div>
          <b>{{ total }}</b> articles have been found </div>
        <div class="row">
          <!--create table here-->
          <table border="1" id="table" class="tablesorter">
            <thead>
              <tr align="center">
                <th>Year</th>
                <th>Similarity</th>
                <th>Author</th>
                <th>Article</th>
                <th># of words</th>
                <th>
                  <div class="tooltip">Flesch Reading Ease Score
                    <span class="tooltiptext">
                      <style type="text/css">
                        .tg {
                          border-collapse: collapse;
                          border-spacing: 0;
                        }

                        .tg td {
                          font-family: Arial, sans-serif;
                          font-size: 14px;
                          padding: 10px 5px;
                          border-style: solid;
                          border-width: 1px;
                          overflow: hidden;
                          word-break: normal;
                          border-color: black;
                        }

                        .tg th {
                          font-family: Arial, sans-serif;
                          font-size: 14px;
                          font-weight: normal;
                          padding: 10px 5px;
                          border-style: solid;
                          border-width: 1px;
                          overflow: hidden;
                          word-break: normal;
                          border-color: black;
                        }

                        .tg .tg-us36 {
                          border-color: inherit;
                          vertical-align: top
                        }

                        .tg .tg-y5xj {
                          font-weight: bold;
                          background-color: #efefef;
                          border-color: inherit;
                          vertical-align: top
                        }

                        .tg .tg-p8bj {
                          font-weight: bold;
                          border-color: inherit;
                          vertical-align: top
                        }
                      </style>
                      <table class="tg">
                        <tr>
                          <th class="tg-y5xj">Score</th>
                          <th class="tg-y5xj">Meaning</th>
                          <th class="tg-y5xj">Equivalent school level (US) [grade]</th>
                          <th class="tg-p8bj">Reading Age [years]</th>
                          <th class="tg-p8bj">Example for UK readers</th>
                        </tr>
                        <tr>
                          <td class="tg-us36">90 - 100</td>
                          <td class="tg-us36">Very easy to read. Easily understood by an average 10-year-old student.</td>
                          <td class="tg-us36">5th </td>
                          <td class="tg-us36">10-11</td>
                          <td class="tg-us36">Children’s stories</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">80 - 89</td>
                          <td class="tg-us36">Easy to read. Conversational English for consumers.</td>
                          <td class="tg-us36">6th </td>
                          <td class="tg-us36">11 - 12</td>
                          <td class="tg-us36">Women’s fiction</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">70 - 79</td>
                          <td class="tg-us36">Fairly easy to read.</td>
                          <td class="tg-us36">7th</td>
                          <td class="tg-us36">12 - 13</td>
                          <td class="tg-us36">Popular novels</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">60 - 69</td>
                          <td class="tg-us36">Plain, average English.</td>
                          <td class="tg-us36">8th &amp; 9th </td>
                          <td class="tg-us36">14 - 15</td>
                          <td class="tg-us36">Tabloid newspaper</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">50 - 59</td>
                          <td class="tg-us36">Fairly difficult to read.</td>
                          <td class="tg-us36">10th to 12th</td>
                          <td class="tg-us36">16 - 17</td>
                          <td class="tg-us36">Introductory textbook</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">30 - 49</td>
                          <td class="tg-us36">Difficult to read.</td>
                          <td class="tg-us36">College</td>
                          <td class="tg-us36">18 - 20</td>
                          <td class="tg-us36">Students’ essays</td>
                        </tr>
                        <tr>
                          <td class="tg-us36">0 - 29</td>
                          <td class="tg-us36">Very difficult to read.</td>
                          <td class="tg-us36">College graduate</td>
                          <td class="tg-us36">Graduate</td>
                          <td class="tg-us36">Academic articles</td>
                        </tr>
                      </table>
                    </span>
                  </div>
                </th>
                <th>Flesch reading grade</th>
                <th>Detail</th>
              </tr>
            </thead>
            {% for i in resultlist %}
            <tr>
              <td>{{i.2}}</td>
              <!--year -->
              <td>{{i.1}}</td>
              <!--similarity-->
              <td>{{i.3}}</td>
              <!--author-->
              <td class="article" style="width: auto; text-align: left; cursor: pointer;border: none; border-bottom: 1px solid black">
                <h3>{{i.0}}</h3>
                <br>
                <div class="keywords-container" style="display: flex; flex-wrap: wrap; align-items: center">
                  {% for j in i.8.keywords%}
                  <span class="keyword" style="background-color: rgba(220,220,220,1);padding: 5px; border-radius: 5px; margin: 2px 5px 3px 0px; font-size: 0.9em">{{j.keyword}}</span>
                  {% endfor %}
                </div>
              </td>
              <!--title-->
              <td>{{i.5}}</td>
              <!--# of words-->
              <td>{{i.6}}</td>
              <!--Flesch reading ease score-->
              <td>{{i.7}}</td>
              <!--Flesch reading grade-->
              <!-- Create text and button here. forloop.counter will count the times of loop. The first loop, forloop.counter = 0 , second loop , forloop.counter = 1. -->
              <td>
                <button id="btn{{forloop.counter0}}" class="dblue dblueh" data-toggle="modal" data-target="#myModal">Abstract</button>
                <br>
                <!--     <form action="" method="get">
                   {{i.4}} is the name of the articles  
                 <button type="submit" value="{{i.4}}" name ="btn_download" class="dblue dblueh">Download</button>
            </form>         -->
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
    </div>
  </div>
  <div class="footer">
    <p>This code is Open Source under the Apache 2.0 license</p>
  </div>
  <div id="article-detail"></div>
  <div id="cluster-page"></div>
  {% autoescape off %}
  <script>
    const articlesContent = {{ wordcloud_data }}
    const cluster_tag = {{ cluster_tag }}
    //console.log(cluster_tag)
    const articles = {{ article_with_tag }}
      //console.log(articles)
  </script> {% endautoescape %}
  <!-- /.container, contains user query and results -->
  {% include './About.html' %} {% include './Contact.html' %}
  <script src="{% static 'js/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/index.bundle.js' %}"></script>
  <script src="{% static 'js/world-cloud-page/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/world-cloud-page/index.bundle.js' %}"></script>
  <!--Model for abstract -->
  <div class="modal custom fade" id="myModal" role="dialog">
    <div class="modal-dialog">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Abstract</h4>
        </div>
        <div class="modal-body" id="show_text_model"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="{% static 'js/cluster-page/vendor.bundle.js' %}"></script>
<script src="{% static 'js/cluster-page/index.bundle.js' %}"></script>

<!-- Show specific chart by using checkbox -->

<script type="text/javascript">
  var count = 1;
  //  get id  
  check = document.querySelector("#check")
  chart1 = document.querySelector("#chart-1")
  year_Chart = document.querySelector("#year_Chart")
  function show() {
    if (count == 1) {
      if (check.checked != true) {
        chart1.style.display = "flex"
        count = 0;
      }
      else {
        year_Chart.style.display = "flex"
        count = 0;
      }
    }
    else {
      chart1.style.display = "none"
      year_Chart.style.display = "none"
      count = 1;
    }
  }
</script> {% for j in abstract %}
<script type="text/javascript">
  //first_click Contain information about the button (j) pressed first time or second time 
  /*var abstract_click = [];
  document.getElementById("btn{{forloop.counter0}}").onclick = function () {
    if (abstract_click[{{ forloop.counter }}]== 1) {
      // 'First click' for view the abstract
      abstract_click[{{ forloop.counter }}] = 2;
      document.getElementById("show_text{{forloop.counter0}}").innerHTML = " ";
    } 
    else {
      // 'Second click' for hide the abstract  
      document.getElementById("show_text{{forloop.counter0}}").innerHTML = "{{j}}";
      abstract_click[{{ forloop.counter }}] = 1;
    }
  }*/
  document.getElementById("btn{{forloop.counter0}}").onclick = function () {
    document.getElementById("show_text_model").innerHTML = "{{j}}";
  }
</script> {% endfor %}

</html>