<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="{% static 'css/customInterface.css' %}" rel="stylesheet" />
<link href="{% static 'css/ie10-viewport-bug-workaround.css' %}" rel="stylesheet" />
<script src="{% static 'js/ie-emulation-modes-warning.js' %}"></script>
<!-- Button Color Style-->

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title> Nordling Search </title>
  <style>
    body {
      padding: 50px;
    }
  </style>
</head>
<!-- Favicon -->
<link rel="icon" href="{% static '/favicons/favicon.png' %}">

<!-- Website background -->
<body style="background-color:#f2f2f2;">
  <!-- Start Facebook -->
  <div id="fb-root"></div>
  <script>
    (function (d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <!-- End Facebook -->
  
  <!-- Navigation bar -->
  <nav class="navbar navbar-custom navbar-fixed-top" style="background-color: #000033">
    <header>
      <img src="https://www.nordlinglab.org/wp-content/uploads/2018/03/cropped-TNL_FL_Tofficial-150x150.png" align=left width="=50"
        height="50">
    </header>
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
        </button>
        <!--Nav-bar Nordron-Sciinfo (to bitbucket) -->
        <a title="Go to Nordron-Sciinfo bitbucket" class="navbar-brand" href="https://bitbucket.org/nordron/nordron-sciinfo">Nordron-Sciinfo</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="active">
            <!-- Nav-bar Home -->
            <a title="Go to the Homepage" href="/">
              <span class="glyphicon glyphicon-home"></span> Home</a>
            <!--Nav-bar About-->
            <li>
              <a title="About Nordling-Sciinfo" href="#about" data-toggle="modal" data-target="#about">
                <span class="glyphicon glyphicon-exclamation-sign"></span> About
              </a>
            </li>
            <!--Nav-bar Contact -->
            <li>
              <a title="Send an email to us" href="#Contact" data-toggle="modal" data-target="#Contact">
                <span class="glyphicon glyphicon-envelope"></span> Contact</a>
            </li>
            <!-- Upload Files -->
            <li>
              <a title="Upload articles" href='/Upload/'>
                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
            </li>
          </li>
        </ul>
        <!-- Social Media -->
        <!-- Facebook -->
        <div class="nav navbar-nav navbar-right">
          <div style="position: relative; top: 15px">
            <div class="fb-like" data-href="http://django.nordlinglab.org/" data-layout="button" data-action="like" data-size="small"
              data-show-faces="true" data-share="true" style="position: relative; bottom: 5px"></div>
            <!-- Twittter Sharig button -->
            <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
            <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
            <!-- Google sharing button -->
            <script src="https://apis.google.com/js/platform.js" async defer></script>
            <div clear: right; class="g-plus" data-action="share"></div>
          </div>
        </div>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <div class="col-1g-12 text-center">
      <h1 style="font-family:Candara; font-size:50px;">Welcome to
        <span style="color:#136086;">NORDLING SEARCH</span>
      </h1>
    </div>
    <p style="text-align:left;position: relative; left: 80px; font-size: 20px">Search strings:</p>
    <form action="" method="get">
      <!-- <textarea id="q" rows="5" class="form-control" name="q" onkeydown="if (event.keyCode == 13) { this.form.submit(); return false; }"></textarea> -->
      <!-- build a virtual textarea inside the input query tag below-->
      <div id="input-query">
        <script type="text/javascript">
          $(function () {
            //Trigger search button when enter pressed
            $("#input-query").keypress(function (e) {
              if (e.which == 13) {
                document.getElementById("searchBtn").click();
                e.preventDefault();
                return false;
              }
            });
          });
        </script>
      </div>
      <br>
      <!-- upload your article button -->
      <div class="container" style="position: relative; left: 400px">
        <!-- PLEASE DON'T DELETE THE FOLLOWING LINES. We are still working ont he upload function -->
        <!-- <script src="//code.jquery.com/jquery-2.0.3.min.js"></script>
          <script src="{% static 'js/zeroupload.js' %}"></script>
          <button title="Upload your article to this website" type="button" class="dblue dblueh" id="mydrop" onClick="ZeroUpload.chooseFiles()"
            style="display:inline">Drop files here! Or click to select! </button>
          <script>
            $(document).ready(function () {
              ZeroUpload.setURL('upload.php');
              ZeroUpload.on('complete', function (response) {
                $('#results').html('<h2>Upload Complete!</h2><pre>' + response.data + '</pre>');
              });
              ZeroUpload.init();
              ZeroUpload.addDropTarget('#mydrop');
            });
          </script> -->
        <!-- search button-->
        <button title="Go to search!" id="searchBtn" type="submit" class="dblue dblueh" style="display:inline">Search</button>
      </div>
    </form>
  </div>
  <script src="{% static 'js/vendor.bundle.js' %}"></script>
  <script src="{% static 'js/index.bundle.js' %}"></script> {% include './About.html' %} {% include './Contact.html' %}{% include './Feedback.html' %}
  <br/>
  <div class="footer">
    <p>This code is Open Source under the Apache 2.0 license </p>
  </div>
</body>

</html>