<!DOCTYPE html>
<html>
{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/static/css/Navbar.css" rel="stylesheet" />
<link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet" />
<script src="/static/js/ie-emulation-modes-warning.js"></script>
<!-- Button Color Style-->

<head>
    <style>
        .dblue {
            background-color: #3182bd;
            /* DBlue */
            border: 2px solid #f0ffff;
            border-radius: 8px;
            color: white;
            padding: 10px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
        }

        .dblueh:hover {
            box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Nordling Search </title>
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>
<!-- Favicon -->
<link rel="icon" href="/static/favicons/favicon.png">

<body style="background-color:#f2f2f2;">
    <!-- Start Facebook -->
    <div id="fb-root"></div>
    <script>(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- End Facebook -->
    <!-- Navigation bar -->
    <nav class="navbar navbar-custom navbar-fixed-top">
        <header>
            <img src="https://www.nordlinglab.org/wp-content/uploads/2018/03/cropped-TNL_FL_Tofficial-150x150.png" align=left width="=50"
                height="50">
        </header>
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <!--Nav-bar Nordron-Sciinfo (to bitbucket) -->
                <a title="Go to Nordron-Sciinfo bitbucket" class="navbar-brand" href="https://bitbucket.org/nordron/nordron-sciinfo">Nordron-Sciinfo</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <!-- Nav-bar Home -->
                        <a title="Go to the Homepage" href="/">
                            <span class="glyphicon glyphicon-home"></span> Home</a>
                        <!--Nav-bar About-->
                        <li>
                            <a title="About Nordling-Sciinfo" href="#about" data-toggle="modal" data-target="#about">
                                <span class="glyphicon glyphicon-exclamation-sign"></span> About
                            </a>
                        </li>
                        <!--Nav-bar Contact -->
                        <li>
                            <a title="Send an email to us" href="#Contact" data-toggle="modal" data-target="#Contact">
                                <span class="glyphicon glyphicon-envelope"></span> Contact</a>
                        </li>

                        <!-- Upload Files -->
                        <li>
                            <a title="Upload Articles" href='/Upload/'>
                                <!-- href="#Upload" data-toggle="modal" data-target="#Upload"></a> -->
                                <span class="glyphicon glyphicon-cloud-upload"></span> Upload</a>
                        </li>
                    </li>
                </ul>
                <!-- Social Media -->
                <!-- Facebook -->
                <div class="nav navbar-nav navbar-right">
                    <div style="position: relative; top: 15px">
                        <div class="fb-like" data-href="http://django.nordlinglab.org/" data-layout="button" data-action="like" data-size="small"
                            data-show-faces="true" data-share="true" style="position: relative; bottom: 5px"></div>
                        <!-- Twittter Sharig button -->
                        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false"></a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <!-- Google sharing button -->
                        <script src="https://apis.google.com/js/platform.js" async defer></script>
                        <div clear: right; class="g-plus" data-action="share"></div>
                    </div>
                </div>
            </div>
            <!--/.nav-collapse -->
        </div>
    </nav>


    <div class="container">
        <div class="col-1g-12 text-center">
            <h1 style="font-family:Candara; font-size:50px;">
                <span style="color:#136086;">HELP US GROW! Upload your own articles.</span>
            </h1>
        </div>
        <p style="text-align:center;position: relative; left: 80px">PLEASE NOTE: At the moment uploaded articles will not automatically made accessible for the search. We are working
            on that and will make it work as soon as possible.</p>
    </div>

    <body>
        <!-- Upload form. Note enctype attribute! -->
        <form method="post" enctype="multipart/form-data">
            <!-- List of uploaded documents -->
            {% if documents %}
            <ul>
                {% for document in documents %}
                <p>{{document}}</p>
                {% endfor %}
            </ul>
            {% else %}
            <p>No documents.</p>
            {% endif %} {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }} {{ form.docfile }}
            </p>

            <p>
                <input type="submit" value="Upload" />
            </p>
        </form>
    </body>
    <script src="{% static 'js/index.bundle.js' %}"></script> {% include './About.html' %} {% include './Contact.html' %}{% include './Feedback.html' %}
</body>

</html>