<!DOCTYPE html>
<html>

<head>
	<title></title>
	{% load static %}
</head>

<body>
	<div id="app"></div>

	<script src="{% static 'js/vendor.bundle.js' %}"></script>
	<script src="{% static 'js/index.bundle.js' %}"></script>
</body>

</html>