

html,body 
	text-align: center
	padding-left: 0
	padding-right: 0
	margin: 0
	border: 0

*
	box-sizing: border-box
  	-moz-box-sizing: border-box
  	-webkit-box-sizing: border-box

#input-query
	display: inline-flex
	width: calc(100vw - 20px)
	padding: 10px
	max-width: 1000px
	flex-direction: column
	align-items: center

	*
		font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif


	#query-box
		display: inline-flex
		position: relative
		flex-direction: column
		width: calc(100%)
		align-items: flex-start
		
		textarea
			width: 100%
			//height: 50px
			border-radius: 1px
			margin-bottom: 10px
			padding: 5px
			font-size: 12px

			&:focus
				box-shadow: 1px 1px 3px gray
				outline: none
				border: none

		.results-container
			display: inline-flex
			width: 100%
			flex-direction: row
			justify-content: flex-start
			align-items: flex-start

			.corrections-list
				position: absolute
				top: 20px
				display: inline-flex
				flex-direction: column
				align-items: flex-start
				background-color: white
				box-shadow: 1px 1px 3px gray
				z-index: 99

				>.correction-word
					padding: 3px 10px
					width: 100%
					cursor: pointer
					transition: all .3s

					&:hover
						background-color: rgba(230,230,230,1)

				>.active
					background-color: rgba(230,230,230,1)

		.similar-words-container
			display: inline-flex
			flex-direction: row
			align-items: center
			width: calc(100% - 20px)
			max-width: 800px
			padding: 10px 0px

			.word
				padding: 7px
				border-radius: 3px
				background-color: rgba(230,230,230,1)
				transition: background-color .3s
				margin-right: 10px
				cursor: pointer
				color: rgba(100,100,100,1)

				&:hover
					background-color: rgba(200,200,200,1)



		.articles-container
			display: inline-flex
			width: calc(100%)
			padding: 10px
			max-width: 500px
			flex-direction: column
			align-items: center

			.article
				display: inline-flex
				flex-direction: column
				position: relative
				width: calc(100%)
				align-items: flex-start
				box-shadow: 1px 1px 3px gray
				transition: all 0.3s
				margin-bottom: 10px
				
				.title
					display: inline-flex
					word-break: break-all
					text-align: left
					align-items: flex-start
					padding: 10px

				.content
					display: flex
					align-items: flex-start
					text-align: left
					color: rgba(110,110,110,1)
					padding: 10px
					font-size: 0.85em
					word-break: break-all
				
				.article-keywords
					display: flex
					align-items: flex-start
					flex-direction: row
					padding: 10px
					
					.keyword
						padding: 5px 10px
						font-size: 0.85em
						border-radius: 20px
						background-color: rgb(210,210,210)
						margin-right: 5px
						cursor: pointer

					.active
						background-color: rgb(50,50,50)
						color: white

				.paragraph
					display: none
					text-align: left
					color: rgba(110,110,110,1)
					padding: 0px 10px 10px 10px
					font-size: 0.85em
					word-break: break-all

					code
						background-color: yellow

				>.active
					display: inline-block


.info-helper
	display: flex
	position: fixed
	top: 30%
	right: 70px
	transform: translate(-50%,0px)
	width: 150px
	height: 150px
	cursor: pointer

	.msg
		display: none
		position: absolute
		padding: 20px 10px
		border-radius: 15px
		background-color: white
		box-shadow: 1px 1px 3px gray
		top: -50px
		left: -50px

	>img
		width: 100%
		height: 100%

	.active
		display: flex



