/* Button style blue.*/
.dblue {
  background-color: RoyalBlue;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.dblueh:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
/* Footer style.*/
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f2f2f2;
  color: #3182bd;
  text-align: center;
}   

/* Dialogue style.*/
.modal.custom .modal-dialog {
  width: 50%;
  margin: 0 auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

/* Navigation bar style.*/
.navbar-custom { 
  background-image: none;
}
.navbar-custom {
  background-color:#000033;
  color:#ffffff;
  border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
  color:#ffffff;
}

.navbar-custom .navbar-nav > .active > a {
  color: #ffffff;
  background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
  text-decoration: none;
  background-color: #33ccff;
}

.navbar-custom .navbar-brand {
  color:#ffffff;
}
.navbar-custom .navbar-toggle {
  background-color:#eeeeee;
}
.navbar-custom .icon-bar {
  background-color:#33aa33;
}