
html,body 
	padding: 0
	margin: 0
	border: 0

#test
	position: fixed
	top: 10px
	left: 10px
	z-index: 99

#article-detail
	display: none
	position: fixed
	left: 0
	top: 0
	width: 100vw
	height: 100vh
	overflow-x: hidden
	background-color: rgba(black,0.5)
	z-index: 99999
	
	*
		font-family: Roboto,Helvetica Neue,Helvetica,Arial,PingFang TC,黑體-繁,Heiti TC,蘋果儷中黑,Apple LiGothic Medium,微軟正黑體,Microsoft JhengHei,sans-serif
		
#main-page
	display: block
	position: fixed
	top: 0
	left: 50%
	transform: translate(-50%,0px)
	flex-direction: column
	align-items: center
	width: 80vw
	min-height: calc(100vh)
	height: calc(100vh)
	overflow-y: auto
	background-color: rgba(250,250,250,1)
	padding: 10px 0px 30px 0px

	&::-webkit-scrollbar-track
		border-radius: 3px
	&::-webkit-scrollbar
		width: 5px
		background-color: rgba(200,200,200,0.1)
	&::-webkit-scrollbar-thumb
		border-radius: 3px
		background-color: rgba(180,180,180,0.5)

	a
		text-decoration: none
	
	.close-icon
		position: absolute
		top: 10px
		right: 10px
		width: 20px
		height: 20px
		cursor: pointer

	.word-cloud-container
		display: flex
		margin: 20px 5px 10px 5px
		width: 100%
		max-width: 800px
		height: 300px
		border: 1px solid gray
		text-align: left
	

	.article-container
		display: block
		flex-direction: column
		width: calc(100% - 20px)
		margin: 0 auto
		max-width: 800px
		padding: 0 0 40px 0
		section
			width: 100%
		
